#refactored
.idea
.env

#dirs:

**/__pycache__/
.venv
data/*

#files
**/*.DS_Store
**/._*
**/.~lock.*
**/.ipynb_checkpoints/
deploy/isppr.tar.gz
deploy/export.tar*
deploy/*.img
deploy/*.img.gz
**/.secrets.toml
**/secrets.toml
.env.local
pyvenv.cfg
