nvidia-tensorrt
kneed
openpyxl
whisper
jiwer
torchaudio
pandas
Cython
seaborn
matplotlib
setuptools-rust
yt-dlp
openai
datasets
audio2numpy
wandb
pymssql
psycopg2-binary
numpy
scipy
docopt
joblib
psutil
omegaconf
pydub
pyod
keras
tensorflow
wwo-hist
lxml
statsmodels
flax
transformers>=4.27.4 #git+https://github.com/huggingface/transformers
ffmpeg
folium
catboost